<h2>Home Page</h2>

<section class="master_categories">
  add more categories
<ul>
<% @mastercategories.each do |master| %>
  <li><a href="/addtransfers/<%= master.id%>"><%= master.name%></a></li>
<% end %>
</ul>
</section>
