
<section class="home">
  <div class="area_title">
    <!-- <h3>Choose an option</h3> -->
  </div>
  <div class="main_btn1">
    <dl>
      <dt><a href="/addtransfers"><img src="/icons/atm.png" alt="Expenses"></a></dt>
      <dt>Expenses</dt>
    </dl>
  </div>
  <div class="main_btn2">
    <dl>
      <dt><a href="/addtransfers/<%=@incomes.id%>"><img src="/icons/026-get-money.png" alt="Incomes"></a></dt>
      <dd>Incomes</dd>
    </dl>
  </div>
  <div class="main_btn3">
    <dl>
      <dt><a href="/addtransfers/<%= @loans.id%>"><img src=/icons/024-loan.png alt="Loans"></a></dt>
      <dd>  Loans</dd>
    </dl>
  </div>
</section>
