<h2>Home Page</h2>

<section class="flat">
  <div class="main_btn">
    <a href="/addtranfers">Expenses</a>
  </div>

  <div class="main_btn">
    <a href="/addtranfers">Incomes</a>
  </div>

  <div class="main_btn">
    <a href="/addtranfers">Loans</a>
  </div>
</section>
