<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel='stylesheet' href='/style.css'>
  </head>
  <body>
    <header>
      <h1>Cash Dashboard</h1>
    </header>
    <section>
        <div class="info_bar">
          £ <%= @user.total_amount_spent/2%>
        </div>
        <div class="money_left">
          £ <%= @user.total_amount_spent%>
        </div>
    </section>
    <main>
      <%= yield %>
    </main>
    <footer>
      Footer
    </footer>
  </body>
</html>
