<h2>master category options</h2>

<section>
  subcategories

<% @mastercategory.sub_categories().each do |category| %>
  <a href="/transfers/new/<%= category.id%>"><%= category.name %></a>

<% end %>
</section>
