
<section class="home">
  <div class="area_title">
    <!-- <h3>Choose an option</h3> -->
  </div>
  <div class="main_btn1">
    <dl>
      <dt><a href="/addcategories"><img src="/icons/plus.png" alt="Expenses"></a></dt>
      <dt>Add Category</dt>
    </dl>
  </div>
  <div class="main_btn2">
    <dl>
      <dt><a href="/categories"><img src="/icons/analytics.png" alt="Incomes"></a></dt>
      <dd>Category Reports</dd>
    </dl>
  </div>
  <div class="main_btn2">
    <dl>
      <dt><a href="/transfers"><img src="/icons/search.png" alt="reports"></a></dt>
      <dd>All Expenses</dd>
    </dl>
  </div>


</section>
