
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');

body {
  margin:0px;
}
body div{
  display:flex;
  flex-flow: row wrap;
  width: 80%;
  margin: auto;
}
body div header,section,main,footer{
  /*background-color: #f1f7cd;*/
  border-radius: 7px;
  margin: 5px;
  padding: 20px;
  font-family: 'Roboto Slab', serif;
  border: black dotted 1px;
}

body div header {
  order:1;
  height: 100px;
  flex: 0 1 100%;
}

body div section {
  order:2;
  height: auto;
  flex: 0 1 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
body div section.info_bar {
  order:1;
  height: auto;
  flex:1;

}
body div section.money_left {
  order:2;
  font-size: 3em;
  height: auto;
  flex:1
}
body div main {
  order:3;
  min-height: 250px;
  flex: 1;
  display: flex;
}
body div footer {
  order:4;
  height: auto;
  flex: 0 1 100%;
}

section.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main_btn1, .main_btn2, .main_btn3{
  justify-content: center;
  align-items: center;
  flex: 1;
}
.main_btn1 a:link, a:visited {

    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

div.main_btn1{
  order: 1;
}
div.main_btn2{
  order:2;
}
div.main_btn3{
  order: 3;
}
